html, 
body {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
}

.btn {
    padding: 7px;
    color: rgb(61, 61, 61);
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    border-width: 4px;
    text-transform: capitalize;
    background-color: rgba(214, 214, 214, 0.651);
    cursor: pointer;
    border-radius: 7px;
    border-color: silver;
}


.btn-secondary {
  float: right;
  border: 1;
  border-radius: 10px;
  border-color: silver;
  background-color: rgba(255, 174, 174, 0.651);
  color: #ff0000;
  font-weight: bolder;
  border-width: 2px;
}

.list-group {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.list-group-item button {
  width: 250px;
}

.modal-body {
  display: flex;
  flex-flow: column wrap;
}