body {
  font-family: Arial, sans-serif;
  text-transform: capitalize;
  background-image: url('img/poke-background.jpg');
}

html {
  margin-top: 0px;
}

.navbar {
  z-index: 1;
  position: fixed;
  padding: 0px;
  border-radius: 10px;
  border-color: black;
  border-width: 10px;
  margin: 10px;
}

.navbar-brand {
  background-color: black;
  margin: 0px;
  border-radius: 10px;
  border-color: black;
  border-width: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.image {
  width: 170px;
  background-color: rgb(255, 255, 255);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
}

.btn {
    padding: 7px;
    color: rgb(61, 61, 61);
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    border-width: 4px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 7px;
    border-color: silver;
}

.btn-secondary {
  float: right;
  border: 1;
  border-radius: 10px;
  border-color: silver;
  background-color: rgba(255, 174, 174, 0.651);
  color: #ff0000;
  font-weight: bolder;
  border-width: 2px;
}

.list-group {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 30px;
  border-color: blue;
}

.list-group-item {
  margin: 8px;
  background: none;
  padding: 0px;
  border: none;
}

.list-group-item button {
  width: 200px;
  height: 200px;
  background-color: white;
  box-shadow: 5px black;
  border-color: black;
}

.list-group-item button:hover {
  background-color: rgb(255, 172, 172);
  border-color: black;
  color: black;
}

.modal-body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-weight: bold;
}

.modal-content {
  background-color: aliceblue;
  margin: 0;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border-width: 7px;
  border-color: black;
}

.modal-header {
  border-bottom: none;
  align-self: center;
  font-weight: bolder;
}

.modal-footer {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 0%;
  margin: 2%;
}

span {
  line-height: 1.3rem;
  font-size: 1.2rem;
  border: 3px solid silver;
  box-shadow: 5px 3px 4px silver;
  border-radius: 0.5rem;
  margin: 15px;
  padding: 3%;
  background-color: aliceblue;
}

p {
  font-size: 17px;
}

.pokemonImage {
  width: 40%;
}
